/* line 14, ../scss/grid/_grid.scss */
.gd-cf, .gd-row {
  *zoom: 1;
}
/* line 16, ../scss/grid/_grid.scss */
.gd-cf:before, .gd-row:before, .gd-cf:after, .gd-row:after {
  content: " ";
  display: table;
}
/* line 21, ../scss/grid/_grid.scss */
.gd-cf:after, .gd-row:after {
  clear: both;
}

/* line 30, ../scss/grid/_grid.scss */
.gd-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media (min-width: 768px) {
  /* line 30, ../scss/grid/_grid.scss */
  .gd-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media (min-width: 992px) {
  /* line 30, ../scss/grid/_grid.scss */
  .gd-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media (min-width: 1200px) {
  /* line 30, ../scss/grid/_grid.scss */
  .gd-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}

/* line 60, ../scss/grid/_grid.scss */
.gd-col,
[class*="gd-xs-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

/* line 60, ../scss/grid/_grid.scss */
.gd-col,
[class*="gd-sm-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

/* line 60, ../scss/grid/_grid.scss */
.gd-col,
[class*="gd-md-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

/* line 60, ../scss/grid/_grid.scss */
.gd-col,
[class*="gd-lg-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-2 {
  width: 50%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-2 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-3 {
  width: 33.33333%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-3 {
  width: 66.66667%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-3 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-4 {
  width: 25%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-4 {
  width: 50%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-4 {
  width: 75%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-4-4 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-5 {
  width: 20%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-5 {
  width: 40%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-5 {
  width: 60%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-4-5 {
  width: 80%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-5-5 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-6 {
  width: 16.66667%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-6 {
  width: 33.33333%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-6 {
  width: 50%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-4-6 {
  width: 66.66667%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-5-6 {
  width: 83.33333%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-6-6 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-7 {
  width: 14.28571%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-7 {
  width: 28.57143%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-7 {
  width: 42.85714%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-4-7 {
  width: 57.14286%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-5-7 {
  width: 71.42857%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-6-7 {
  width: 85.71429%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-7-7 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-8 {
  width: 12.5%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-8 {
  width: 25%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-8 {
  width: 37.5%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-4-8 {
  width: 50%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-5-8 {
  width: 62.5%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-6-8 {
  width: 75%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-7-8 {
  width: 87.5%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-8-8 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-9 {
  width: 11.11111%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-9 {
  width: 22.22222%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-9 {
  width: 33.33333%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-4-9 {
  width: 44.44444%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-5-9 {
  width: 55.55556%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-6-9 {
  width: 66.66667%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-7-9 {
  width: 77.77778%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-8-9 {
  width: 88.88889%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-9-9 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-10 {
  width: 10%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-10 {
  width: 20%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-10 {
  width: 30%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-4-10 {
  width: 40%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-5-10 {
  width: 50%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-6-10 {
  width: 60%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-7-10 {
  width: 70%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-8-10 {
  width: 80%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-9-10 {
  width: 90%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-10-10 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-11 {
  width: 9.09091%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-11 {
  width: 18.18182%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-11 {
  width: 27.27273%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-4-11 {
  width: 36.36364%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-5-11 {
  width: 45.45455%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-6-11 {
  width: 54.54545%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-7-11 {
  width: 63.63636%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-8-11 {
  width: 72.72727%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-9-11 {
  width: 81.81818%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-10-11 {
  width: 90.90909%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-11-11 {
  width: 100%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-1-12 {
  width: 8.33333%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-2-12 {
  width: 16.66667%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-3-12 {
  width: 25%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-4-12 {
  width: 33.33333%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-5-12 {
  width: 41.66667%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-6-12 {
  width: 50%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-7-12 {
  width: 58.33333%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-8-12 {
  width: 66.66667%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-9-12 {
  width: 75%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-10-12 {
  width: 83.33333%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-11-12 {
  width: 91.66667%;
}

/* line 90, ../scss/grid/_grid.scss */
.gd-xs-12-12 {
  width: 100%;
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-2 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-2 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-3 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-3 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-3 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-4 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-4 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-4 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-4-4 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-5 {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-5 {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-5 {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-4-5 {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-5-5 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-6 {
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-6 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-6 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-4-6 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-5-6 {
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-6-6 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-7 {
    width: 14.28571%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-7 {
    width: 28.57143%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-7 {
    width: 42.85714%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-4-7 {
    width: 57.14286%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-5-7 {
    width: 71.42857%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-6-7 {
    width: 85.71429%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-7-7 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-8 {
    width: 12.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-8 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-8 {
    width: 37.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-4-8 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-5-8 {
    width: 62.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-6-8 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-7-8 {
    width: 87.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-8-8 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-9 {
    width: 11.11111%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-9 {
    width: 22.22222%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-9 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-4-9 {
    width: 44.44444%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-5-9 {
    width: 55.55556%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-6-9 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-7-9 {
    width: 77.77778%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-8-9 {
    width: 88.88889%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-9-9 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-10 {
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-10 {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-10 {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-4-10 {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-5-10 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-6-10 {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-7-10 {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-8-10 {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-9-10 {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-10-10 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-11 {
    width: 9.09091%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-11 {
    width: 18.18182%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-11 {
    width: 27.27273%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-4-11 {
    width: 36.36364%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-5-11 {
    width: 45.45455%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-6-11 {
    width: 54.54545%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-7-11 {
    width: 63.63636%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-8-11 {
    width: 72.72727%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-9-11 {
    width: 81.81818%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-10-11 {
    width: 90.90909%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-11-11 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-1-12 {
    width: 8.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-2-12 {
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-3-12 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-4-12 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-5-12 {
    width: 41.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-6-12 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-7-12 {
    width: 58.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-8-12 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-9-12 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-10-12 {
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-11-12 {
    width: 91.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-sm-12-12 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-2 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-2 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-3 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-3 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-3 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-4 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-4 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-4 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-4-4 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-5 {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-5 {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-5 {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-4-5 {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-5-5 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-6 {
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-6 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-6 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-4-6 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-5-6 {
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-6-6 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-7 {
    width: 14.28571%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-7 {
    width: 28.57143%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-7 {
    width: 42.85714%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-4-7 {
    width: 57.14286%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-5-7 {
    width: 71.42857%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-6-7 {
    width: 85.71429%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-7-7 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-8 {
    width: 12.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-8 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-8 {
    width: 37.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-4-8 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-5-8 {
    width: 62.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-6-8 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-7-8 {
    width: 87.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-8-8 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-9 {
    width: 11.11111%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-9 {
    width: 22.22222%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-9 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-4-9 {
    width: 44.44444%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-5-9 {
    width: 55.55556%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-6-9 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-7-9 {
    width: 77.77778%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-8-9 {
    width: 88.88889%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-9-9 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-10 {
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-10 {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-10 {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-4-10 {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-5-10 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-6-10 {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-7-10 {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-8-10 {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-9-10 {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-10-10 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-11 {
    width: 9.09091%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-11 {
    width: 18.18182%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-11 {
    width: 27.27273%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-4-11 {
    width: 36.36364%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-5-11 {
    width: 45.45455%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-6-11 {
    width: 54.54545%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-7-11 {
    width: 63.63636%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-8-11 {
    width: 72.72727%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-9-11 {
    width: 81.81818%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-10-11 {
    width: 90.90909%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-11-11 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-1-12 {
    width: 8.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-2-12 {
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-3-12 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-4-12 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-5-12 {
    width: 41.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-6-12 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-7-12 {
    width: 58.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-8-12 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-9-12 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-10-12 {
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-11-12 {
    width: 91.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-md-12-12 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-2 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-2 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-3 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-3 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-3 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-4 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-4 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-4 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-4-4 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-5 {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-5 {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-5 {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-4-5 {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-5-5 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-6 {
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-6 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-6 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-4-6 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-5-6 {
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-6-6 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-7 {
    width: 14.28571%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-7 {
    width: 28.57143%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-7 {
    width: 42.85714%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-4-7 {
    width: 57.14286%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-5-7 {
    width: 71.42857%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-6-7 {
    width: 85.71429%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-7-7 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-8 {
    width: 12.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-8 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-8 {
    width: 37.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-4-8 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-5-8 {
    width: 62.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-6-8 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-7-8 {
    width: 87.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-8-8 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-9 {
    width: 11.11111%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-9 {
    width: 22.22222%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-9 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-4-9 {
    width: 44.44444%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-5-9 {
    width: 55.55556%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-6-9 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-7-9 {
    width: 77.77778%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-8-9 {
    width: 88.88889%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-9-9 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-10 {
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-10 {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-10 {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-4-10 {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-5-10 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-6-10 {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-7-10 {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-8-10 {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-9-10 {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-10-10 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-11 {
    width: 9.09091%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-11 {
    width: 18.18182%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-11 {
    width: 27.27273%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-4-11 {
    width: 36.36364%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-5-11 {
    width: 45.45455%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-6-11 {
    width: 54.54545%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-7-11 {
    width: 63.63636%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-8-11 {
    width: 72.72727%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-9-11 {
    width: 81.81818%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-10-11 {
    width: 90.90909%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-11-11 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-1-12 {
    width: 8.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-2-12 {
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-3-12 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-4-12 {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-5-12 {
    width: 41.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-6-12 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-7-12 {
    width: 58.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-8-12 {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-9-12 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-10-12 {
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-11-12 {
    width: 91.66667%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 90, ../scss/grid/_grid.scss */
  .gd-lg-12-12 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* line 113, ../scss/grid/_grid.scss */
.gd-row--no-gutter {
  margin: 0;
}
/* line 120, ../scss/grid/_grid.scss */
.gd-row--no-gutter > [class*="gd-"], .gd-row--no-gutter > [class*=" gd-"], .gd-row--no-gutter > .gd-col {
  padding: 0;
}
