// ==========================================================================
// List of mixins
// ==========================================================================

// @media query shortcut mixin
 @mixin gd-bp($point) {
    $bp-xs-obj: nth($gd-bps, 1);
    $bp-xs: nth($bp-xs-obj, 1);

    @if $point == $bp-xs {
        @content;
    }

    @else {
        @each $bp in $gd-bps {
            $bp-name: nth($bp, 1);
            $bp-width: nth($bp, 2);

            @if $point == $bp-name {
                @media (min-width: $bp-width) {
                    @content;
                }
            }

        }
    }

}

// Return relevent gutter based on viewport
@function gd-gutter($size, $horizontal) {

    @if $horizontal == true {

        @each $bp in $gd-bps {
            $bp-name: nth($bp, 1);
            $bp-h-gutter: nth($bp, 3);

            @if $size == $bp-name {
                @return $bp-h-gutter;
            }
        }
    }

    @else {
        @each $bp in $gd-bps {
            $bp-name: nth($bp, 1);
            $bp-v-gutter: nth($bp, 4);

            @if $size == $bp-name {
                @return $bp-v-gutter;
            }
        }
    }

}

// Calculate the perc width of the column
@function gd-col-width($col-total, $col-count) {
    // Percentage width per column
    @return (100 / ($col-total / $col-count)) * 1%;
}