// ==========================================================================
// PlusGrid file
//
// The grid works as follows:
// .<NAMESPACE>-<VIEWPORT>-<COLUMN SPAN>-<TOTAL COLUMNS>
//
// A typical example may look like this:
// .pg-sm-4-12
// It's easy to ready as "PlusGrid small 4/12" or "PlusGrid small four-twelfth"
// ==========================================================================

// PlusGrid clearfix
// ==========================================================================
.pg-cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

    *zoom: 1; // for IE 6/7
}

// PlusGrid row
// ==========================================================================
.pg-row {
    @extend .pg-cf;
    margin-left: -$pg-xs-h-gutter;
    margin-right: -$pg-xs-h-gutter;

    @include pg-bp(sm) {
        margin-left: -$pg-sm-h-gutter;
        margin-right: -$pg-sm-h-gutter;
    }

    @include pg-bp(md) {
        margin-left: -$pg-md-h-gutter;
        margin-right: -$pg-md-h-gutter;
    }

    @include pg-bp(lg) {
        margin-left: -$pg-lg-h-gutter;
        margin-right: -$pg-lg-h-gutter;
    }
}

// General grid cell styling
//
// Used and styled as primary "class", while the others are seen
// as modifiers
// ==========================================================================
@for $i from 1 through length($pg-bps) {
    $bp-obj: nth($pg-bps, $i);
    $name: nth($bp-obj, 1);

    .pg-#{$name}-col, // IE7 Fix
    [class*="pg-#{$name}-"] {
        @include box-sizing(border-box);
        float: left;

        // Vertical
        padding-left: pg-gutter($name, true);
        padding-right: pg-gutter($name, true);
        // Horizontal
        padding-top: pg-gutter($name, false);
        padding-bottom: pg-gutter($name, false);

        width: 100%;
    }
}

// PlusGrid loop
//
// Build grid
// Run through the different breakpoint names
// Then run through the total columns
// Then run through each cell in the column
// ==========================================================================
@for $i from 1 through length($pg-bps) {
    $bp-obj: nth($pg-bps, $i);
    $name: nth($bp-obj, 1);

    @for $columns from 2 through $pg-column-total {

        // For each column in total columns
        @for $col from 1 through $columns {

            .pg-#{$name}-#{$col}-#{$columns} {
                // XS doesn't get a breakpoint
                @if $name == 'xs' {
                    width: pg-col-width($columns, $col);
                }
                @else {
                    @include pg-bp($name) {
                        width: pg-col-width($columns, $col);
                        padding-left: pg-gutter($name, true);
                        padding-right: pg-gutter($name, true);

                        // If vertical gutter is enabled
                        padding-top: pg-gutter($name, false);
                        padding-bottom: pg-gutter($name, false);
                    }
                }
            }
        }

    } // @for
}

// Modifiers
.pg-row--no-gutter {
    margin: 0;

    // @Todo
    // This is a bit of a gross assumption.
    & > [class*="pg-"],
    & > [class*=" pg-"] {
        padding: 0;
    }

    // IE7 fix
    @for $i from 1 through length($pg-bps) {
        $bp-obj: nth($pg-bps, $i);
        $name: nth($bp-obj, 1);

        & > .pg-#{$name}-col {
            padding: 0;
        }
    }
}