// ==========================================================================
// PlusGrid file
// Adds support for column pushing/pulling
// ==========================================================================

@for $i from 1 through length($pg-bps) {
    $pg-vp-obj: nth($pg-bps, $i);
    $pg-viewport: nth($pg-vp-obj, 1);

    @for $pg-columns from 2 through $pg-column-total {

        // For each column in total columns
        @for $col from 1 through $pg-columns {

            .pg-#{$pg-viewport}-push-#{$col}-#{$pg-columns} {
                position: relative;

                // XS doesn't get a breakpoint
                @if $pg-viewport == 'xs' {
                    left: pg-col-width($pg-columns, $col);
                }
                @else {
                    @include pg-bp($pg-viewport) {
                        left: pg-col-width($pg-columns, $col);
                    }
                }
            }

            .pg-#{$pg-viewport}-pull-#{$col}-#{$pg-columns} {
                position: relative;

                // XS doesn't get a breakpoint
                @if $pg-viewport == 'xs' {
                    left: pg-col-width($pg-columns, $col) * -1;
                }
                @else {
                    @include pg-bp($pg-viewport) {
                        left: pg-col-width($pg-columns, $col) * -1;
                    }
                }
            }
        }

    } // @for
}
